.options {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.options [type="radio"] {
  display: none;
}

.option {
  border: 0.25rem solid teal;
  color: teal;
  text-align: center;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: sans-serif;
}
.options .active {
  border: 0.25rem solid transparent;
  background-color: teal;
  color: snow;
  text-align: center;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: sans-serif;
}
