.list {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.item {
  list-style-type: none;
  padding: 0.25rem 1rem;
  border: 0.25rem solid teal;
  color: teal;
  font-family: sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
}
.active {
  list-style-type: none;
  border: 0.25rem solid transparent;
  background-color: teal;
  color: snow;
  font-family: sans-serif;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
